<!DOCTYPE html> 
<html> 
<head> 
    <link ref="stylesheet" href="/styles/success.css" type="text/css">  
</head>
<body>
    <div id=spacer>
        <h1>File Successfully Uploaded</h1>
        <a href="/audition/<%=userID%>">Click here to upload another</a>
    </div>
    
</body>
</html>