body{
    background-color: blueviolet;
}

#spacer1{
    display: block;
    text-align: center;
    height: 33.33%;
}

#vert_spacer{
    height: 33.33%;
}

label{
    text-emphasis-color: black;
}

#spacer{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#main_form{
    padding: 5%;
    background-color: antiquewhite;
}