#? stdtmpl | standard
#
#proc home_page(content: string): string =
#  result = ""
<head>
    <link rel="stylesheet", href="/styles/main.css" type="text/css">
</head>
    <script>
        function submit_file() {
            let ws = new WebSocket("ws://" + window.location.hostname + "/ws-upload/${content}");
            let filedom = document.querySelector("#input-field");
            let partdom = document.querySelector("#part-field")
            let part = partdom.value
            if (part == ""){
                part = prompt("What part are you auditioning for?")
            }
            ws.onmessage = function(evnt) {
                console.log(evnt.data);
            }
            ws.onopen = function(evnt) {
                ws.send(filedom.files[0].name);
                ws.send(part)
                ws.send(filedom.files[0].slice());
                ws.close();
            }
            ws.onclose = function(evnt) {
                if (evnt.code == 1000){
                    window.location = "http://" + window.location.hostname+":3000/success/${content}"
                }else {
                    alert("There was a problem, please contact Nickiel12 with this information.\n" + evnt.data)
                }
            }
            return true;
        }
    </script>
    
</head>
<body>

    <div id=vert_spacer>

    </div>
    <div id="spacer1"> 
        <div id="spacer">
            <form action="upload" method="post"enctype="multipart/form-data"id=main_form>
                <label for="part-field"> Part Name: <label><br>
                <input id="part-field" type="text" name="name-input"><br><br>
                <input id="input-field" type="file" name="file" value="file"><br>
                <input type="button" value="Submit" name="submit-button" onclick="submit_file()">
            </form>
        </div>
    </div>
    <div id=vert_spacer>

    </div>
</body>